@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Shadows+Into+Light+Two&display=swap');

/*---------------------------- Holistic stylings-------------*/

h1 {
    font-family: 'Roboto Slab', serif;
	letter-spacing: 4px;
}

p {
    font-family: 'Shadows Into Light Two', cursive;
	letter-spacing: 4px;
}

/*---------------------------- Navbar-------------*/
.bwc-navbar {
    background-color: #525252; 
}

.bwc-navbar a {
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 2px;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 18px;
    letter-spacing: 4px;
}

.navbar {
    padding: 0;
}

.navbar-brand {
    margin-top: 2px;
}

.nav-link {
    padding: 0px;
}

.navbar-toggler {
    margin-right: 5px;
    background-color: black; 
}

.bwc-nav-list a:hover {
    border-bottom: 1px solid #F0DF18;
}

/*---------------------------- Callout section-------------*/

.callout-container { 
    height: 100vh;
    /*code below taken from https://css-tricks.com/perfect-full-page-background-image/*/
    background: url("../images/sifu-bg-black.png") no-repeat top right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.callout-text h1 {
    color: #F0F1EB;
}

.callout-key-message {
    padding-top: 12rem;
}

.callout-key-message h1 {
    font-size: 8rem;
}

.callout-club-name h1 {
    font-size: 3rem;
    border-top: solid 3px white;
}

.cta-btn-col {
    text-align: center;
    margin: 4rem auto;
}

/*---------------------------- Benefits & Testimonials -------------*/

.benefits-title {
    margin-top: 25px;
    text-align: center;
}

.benefits-reasons h1 {

}

.benefits-reasons p {
    
}

.benefits-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*---------------------------- Footer -------------*/

footer {
    background-color: #525252;
    padding: 1em 0em 0em 0em;
}

.contact-us a p {
    color: #F0F1EB;
    margin: 10px 20px 0px 20px;
    padding: 0px;
}

.contact-us a p:hover {
    color: #F0F1EB;
    font-size: 18px;
}

ul {
    margin-bottom: 0rem;
}

.footer-disclaimer p {
    color: #F0F1EB;
    padding: 10px 0px 0px 0px;
}

/*-- The below was learnt from Code Institute 'Resume Project' modified slightly--*/
.social-links li a i {
    font-size: 25px;
    margin: 10px 20px;
    color: #F0F1EB;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.facebook a i:hover {
    color: #4267B2;
}

.instagram a i:hover {
    color: #C13584;
}

.youtube a i:hover {
    color: #FF0000;
}

.twitter a i:hover {
    color: #1DA1F2;
}

/* media querys */

@media screen and (max-width: 768px ){ 
    .callout-key-message {
    padding-top: 12rem;
    }

    .callout-key-message h1 {
    font-size: 8rem;
    }

    .callout-club-name h1 {
    font-size: 3rem;
    }

    .opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    }

    .btn-container {
    height: 15vh;
}

@media screen and (max-width: 576px ){ 
    .callout-key-message {
    padding-top: 8rem;
    }

    .callout-key-message h1 {
    font-size: 4rem;
    }

    .callout-club-name h1 {
    font-size: 1.5rem;
    }

    .btn-container {
    height: 15vh;
    }

    #wing-chun-symbols {
        display: none;
    }
}
