@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;900&family=Roboto:wght@300;400&display=swap');

/*---------------------------- Global stylings----------------------------*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

h1 {
    font-family: 'Roboto Slab', serif;
    letter-spacing: 4px;
    font-size: 300%;
    color: #F0F1EB;
}

h2 {
    font-family: 'Roboto Slab', serif;
	letter-spacing: 4px;
}

h3 {
    font-family: 'Roboto Slab', serif;
	letter-spacing: 4px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #525252;
}

hr {
    border: solid 1px #525252;
}

.btn-warning {
    font-family: 'Roboto', sans-serif;
    background-color: #F0DF18;
}

.btn-warning:hover {
    color: #F0F1EB;
    background-color: #000066;
    border: solid 1px #000066;
}

.section-title {
    background-color: #000066;
    padding: 10px 0px;
    color: #F0F1EB;
    border-radius: 5px;
}

.text-box-shade {
    background-color: rgba(0,0,0, .65);
}

.col-md-4, .col-md-3, .col-sm-12 {
    padding: 0;
}

/*paper-like cards shadow from w3schools tutorial on box shadows (https://www.w3schools.com/css/css3_shadows_box.asp)*/
.image-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*----------------------------------- Navbar------------------------------*/
.navbar {
    padding: 0;
    background-color: #000066; 
}

.navbar a {
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 2px;
    font-size: 18px;
    letter-spacing: 2px;
}

.navbar-brand {
    margin-top: 2px;
    border-radius: 100%;
}

.navbar-brand img {
    border-radius: 100%;
}

.nav-link {
    padding: 0px;
}

.navbar-toggler {
    margin-right: 5px;
    background-color: #000066; 
}

.bwc-nav-list a:hover {
    border-bottom: 1px solid #F0DF18;
}

/*---------------------- Homepage - Callout section-----------------------*/
.callout-container { 
    height: 800px;
    background: url("../images/sifu-bg-banner.png") no-repeat top right; 
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.callout-translucent-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    }

#callout-row {
    position: relative;
    padding-top: 275px;
}

#home-banner-title h1 {
    font-size: 600%;
}

#home-banner-title h2 {
    color: #F0F1EB;
    font-size: 300%;
}

#home-banner-hr {
    border: solid 1px #F0F1EB;
    width: 65%;
}

#wing-chun-symbols {
    height: 7vw;
}

/*--------------------- Homepage - Benefits & Testimonials ---------------*/
#quotes-section {
    background-color: #F0DF18;
}

.blockquote {
    color: #525252;
    font-size: 95%;
}

.blockquote p i {
    font-size: 150%;
}

/*--------------------- Homepage - Discovery section ---------------------*/
#aboutus-nav {
    background: url(../images/sifu_wooden_dummy.png);
}

#classes-nav {
    background: url(../images/hallgreen.jpg);
}

#gallery-nav {
    background: url(../images/bwc_club.jpg);
}

#aboutus-nav, 
#classes-nav, 
#gallery-nav {
    background-size: cover;
    height: 300px;
}

#aboutus-nav div,
#classes-nav div,
#gallery-nav div {
    color: #F0F1EB;
    border-radius: 15px;
    width: 200px;
    background-color:rgba(0,0,0, .5);
}

#aboutus-nav:hover, #classes-nav:hover, #gallery-nav:hover {
    filter: grayscale(100%);
    background-size: cover;
    height: 300px;
}

/*------------------------------- Page Banners ---------------------------*/
#about-top-banner {
    background: url("../images/bruce-lee-statue.png") no-repeat scroll top;
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative; 
}

#classes-top-banner {
    background: url("../images/punch-kick.jpg") no-repeat scroll right;
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative; 
}

#classes-top-banner-carousel {
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative; 
}

#contact-top-banner {
    background: url("../images/chisao-hong-kong-banner.png") no-repeat scroll center;
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative; 
}

.banner-text {
    color: #F0F1EB;
    letter-spacing: 4px;
    width: 700px;
    height: auto;
    border-radius: 15px;
    padding-left: 10px; 
    padding-top: 10px;  
    left: 50px;
    bottom: 30px;
    position: absolute;  
}

/*------------------------------ Classes Page-----------------------------*/
.card-header {
    background-color: #000066;
}

.card-header p {
    margin: 0px;
    color: #F0F1EB;
}

/*---------------------------- Contact us Form ---------------------------*/
.text-input {
    width: 100%;
    color: #525252;
    font-family: 'Roboto', sans-serif;
    font-size: 95%;
    margin: 5px 0px;
    padding: 5px;
    border: solid 1px #525252;
}

.radio-text {
    font-family: 'Roboto', sans-serif;
    color:#525252;
    font-size: 95%;
}

.text-input:hover {
    background-color: #F0DF18;
}

/*---------------------------- Gallery -----------------------------------*/
.gallery-thumbnail {
    height: 150px; 
    margin: 5px;
}

/*---------------------------- Footer ------------------------------------*/
footer {
    background-color: #000066;
    padding: 10px;
}

.copyright p {
    color: #F0F1EB;
    margin: 10px 20px 0px 20px;
    padding: 0px;
}

ul {
    margin-bottom: 0rem;
}

/*-- The below was from Code Institute 'Resume Project'--*/
.social-links li a i {
    font-size: 25px;
    margin: 10px 15px;
    color: #F0F1EB;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.social-links a i:hover {
    color: #F0DF18;
}

/*---------------------------- MEDIA QUERIES------------------------------*/
@media screen and (max-width: 770px ){ 
    /*----------Homepage Callout----------*/
    #callout-row {
    padding-top: 350px;
    }

    #home-banner-title h1 {
    font-size: 400%;
    }

    #home-banner-title h2 {
    font-size: 200%;
    }

    #home-banner-hr {
    width: 80%;
    }

    #wing-chun-symbols {
    height: 10vw;
    }   

    /*----------Banners text----------*/
    .banner-text {
    width: 400px;
    border-top-left-radius: 0px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 15px;
    padding-left: 10px; 
    padding-top: 10px;  
    left: 0px; 
    }

    /*----------Contact Us form----------*/
    .text-input {
        font-size: 110%;
    }

    .radio-text {
        font-size: 110%;
    }
}

@media screen and (max-width: 576px ){ 
    /*-----------Homepage Callout----------*/
    #callout-row {
    padding-top: 275px;
    }

    #home-banner-hr {
    width: 80%;
    }

    #wing-chun-symbols {
        display: none;
    }   
}