@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Shadows+Into+Light+Two&display=swap');

/*---------------------------- Global stylings-------------*/

h1 {
    font-family: 'Roboto Slab', serif;
	letter-spacing: 4px;
}

h2 {
    font-family: 'Roboto Slab', serif;
	letter-spacing: 4px;
}

h3 {
    font-family: 'Roboto Slab', serif;
	letter-spacing: 4px;
}

p {
    font-family: 'Shadows Into Light Two', cursive;
	letter-spacing: 4px;
    font-size: 1rem;
}

/*---------------------------- Navbar-------------*/
.bwc-navbar {
    background-color: #525252; 
}

.bwc-navbar a {
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 2px;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 18px;
    letter-spacing: 4px;
}

.navbar {
    padding: 0;
}

.navbar-brand {
    margin-top: 2px;
}

.nav-link {
    padding: 0px;
}

.navbar-toggler {
    margin-right: 5px;
    background-color: black; 
}

.bwc-nav-list a:hover {
    border-bottom: 1px solid #F0DF18;
}

/*---------------------------- Callout section-------------*/

.callout-container { 
    height: 100vh;
    /*code below taken from https://css-tricks.com/perfect-full-page-background-image/*/
    background: url("../images/sifu-bg-black.png") no-repeat top right; 
    background-attachment: scroll;/*need to chane to 'fixed' and then apply webkit prefix*/
    background-size: cover;
    position: relative;
}

.jumbotron {
    background-color: transparent;
    padding-top: 20vw;
}

.jumbotron h1 {
    color: #F0F1EB;
    font-size: 6vw;
}

.jumbotron h2 {
    color: #F0F1EB;
    font-size: 3vw;
}

.my-4 {
    Background-color: #F0F1EB;
}

#wing-chun-symbols {
    height: 7vw;
}

/*---------------------------- Benefits & Testimonials -------------*/

.benefits-title {
    color: #525252;
    text-align: center;
}

.benefits-reasons h2 {
    color: #525252;
}

.benefits-reasons p {
    color: #525252;
}

#bwc-bt-image {
    width: auto ;
    max-width: 100% ;
    height: auto;
}

.hr-benefits {
    height: 1px;
    border: 0;
    margin: 0px 0px 5px 0px;
    background-color: #525252;
}

.hr-benefits-divider {
    width: 275px;
    height: 3px;
    border: 0;
    background-color: #525252;
}

.blockquote {
    color: #525252;
    font-size: 0.95rem;
}

/*---------------------------- Discovery section -------------*/

#discovery {
    background: url("../images/MartinWD.jpg") no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    overflow: hidden;
}

.discovery-opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(25,90,204,0.75);
}

#discovery-selection {
    margin: 20px 0px;
}

#discovery-selection div {
    color: white;
    background-color: rgba(0,0,0, .6);
    width: 30%; 
    height: 250px;
    float: left;
    padding: 80px 20px 20px 10px; 
    text-align: center;
    margin: 25px 10px; 
    transition: all 0.35s ease-in;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#about-wc-box:hover {
    background: url("../images/bwc_about.jpg") no-repeat;
    background-size: cover;
    background-position: top;
    overflow: hidden;
}

#history-box:hover {
    background: url("../images/Ipman.png") no-repeat;
    background-size: cover;
    background-position: top;
    overflow: hidden;
}

#about-club-box:hover {
    background: url("../images/bwc_club.jpg") no-repeat;
    background-size: cover;
    background-position: left;
    overflow: hidden;
}

#locations-box:hover {
    background: url("../images/hallgreen.jpg") no-repeat;
    background-size: cover;
    background-position: left;
    overflow: hidden;
}

#sche-prices-box:hover {
    background: url("../images/bwc_schedule.png") no-repeat;
    background-size: cover;
    background-position: top;
    overflow: hidden;
}

#expect-box:hover {
    background: url("../images/bwc_expect.png") no-repeat;
    background-size: cover;
    background-position: left;
    overflow: hidden;
}

/* possible scalable square solution: https://spin.atomicobject.com/2015/07/14/css-responsive-square/
#discovery-selection div:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
/* also try: https://stackoverflow.com/questions/20456694/grid-of-responsive-squares/20457076
https://www.google.com/search?q=how+to+make+a+responsive+square+in+css&rlz=1C1CHBF_enGB885GB885&oq=how+to+make+a+responsive+square+in+css&aqs=chrome..69i57.8331j0j15&sourceid=chrome&ie=UTF-8

/*---------------------------- Footer -------------*/

footer {
    background-color: #525252;
    padding: 1em 0em 0em 0em;
}

.contact-us a p {
    color: #F0F1EB;
    margin: 10px 20px 0px 20px;
    padding: 0px;
}

.contact-us a p:hover {
    color: #F0F1EB;
    font-size: 18px;
}

ul {
    margin-bottom: 0rem;
}

.footer-disclaimer p {
    color: #F0F1EB;
    padding: 10px 0px 0px 0px;
}

/*-- The below was learnt from Code Institute 'Resume Project' modified slightly--*/
.social-links li a i {
    font-size: 25px;
    margin: 10px 15px;
    color: #F0F1EB;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.facebook a i:hover {
    color: #4267B2;
}

.instagram a i:hover {
    color: #C13584;
}

.youtube a i:hover {
    color: #FF0000;
}

.twitter a i:hover {
    color: #1DA1F2;
}

/* media querys */

@media screen and (max-width: 1300px ){ 
    #discovery-selection div {
    width: 30%; 
    height: 225px;
    padding: 25px 10px 10px 10px; 
    }
}

@media screen and (max-width: 770px ){ 
    .callout-opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    }

    .jumbotron {
    padding-top: 30vw;
    }

    .jumbotron h1 {
    font-size: 12vw;
    }

    .jumbotron h2 {
    font-size: 5vw;
    }

    #wing-chun-symbols {
    height: 12vw;
    }   

    #discovery-selection div {
    width: 30%; 
    height: 200px;
    float: left;
    padding: 20px 20px 20px 10px; 
    text-align: center;
    margin: 25px 10px; 
    }
}

@media screen and (max-width: 576px ){ 
    .jumbotron {
    padding-top: 50vw;
    }

    .jumbotron h1 {
    font-size: 14vw;
    }

    .jumbotron h2 {
    font-size: 6vw;
    }

    #wing-chun-symbols {
    height: 16vw;
    }   
    
    #discovery-selection div {
    width: 90%; 
    height: 175px;
    padding: 30px 0px; 
    text-align: center;
    margin: 20px 20px; /*creates some space between the panels*/
    }

    #about-wc-box:hover {
    background: url("") no-repeat;
    background-size: cover;
    background-position: top;
    overflow: hidden;
    }

    #history-box:hover {
    background: url("") no-repeat;
    background-size: cover;
    background-position: top;
    overflow: hidden;
    }

    #about-club-box:hover {
    background: url("") no-repeat;
    background-size: cover;
    background-position: left;
    overflow: hidden;
    }

    #locations-box:hover {
    background: url("") no-repeat;
    background-size: cover;
    background-position: left;
    overflow: hidden;
    }

    #sche-prices-box:hover {
    background: url("") no-repeat;
    background-size: cover;
    background-position: top;
    overflow: hidden;
    }

    #expect-box:hover {
    background: url("") no-repeat;
    background-size: cover;
    background-position: left;
    overflow: hidden;
    }
}

@media screen and (max-width: 350px ){ 
    .jumbotron {
    padding-top: 30vw;
    }

    #wing-chun-symbols {
        display: none;
    } 
}
